<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
/>
<header class="top-header">
  <div class="container-fluid">
    <div class="header-inner">
      <div class="brand-wrap">
        <div class="brand-logo">B</div>

        <div class="brand-text">
          <h1>BankU</h1>
          <span>MID : {{ merchantId }}</span>
        </div>
      </div>

      <div class="stepper-wrap">
        <div class="stepper">
          <span class="step" [class.active]="currentStep >= 1">1</span>
          <span class="line"></span>
          <span class="step" [class.active]="currentStep >= 2">2</span>
        </div>

        <p>{{ title }}</p>
      </div>

      @if (showActions) {
    <div class="header-actions">
  <a href="javascript:void(0)" class="action-link">
    <i class="bi bi-speedometer2"></i>
    <span class="link-text">Go to Dashboard</span>
  </a>

  <a href="javascript:void(0)" class="action-link">
    <i class="bi bi-box-arrow-right"></i>
    <span class="link-text">Sign Out</span>
  </a>
</div>
      }
    </div>
  </div>
</header>