<div class="user-sidebar">

  <!-- Logo -->

  <div class="sidebar-logo">

    <div class="logo-box">
      B
    </div>

    <div class="logo-text">
      BankU
    </div>

  </div>

  <!-- Dashboard -->

  <a
    class="menu-item"
    routerLink="/user/dashboard"
    routerLinkActive="active-menu">

    <i class="bi bi-grid"></i>

    <span>
      Business Summary
    </span>

  </a>

  <!-- Section -->

  <div class="menu-section">
    TRACK
  </div>

  <a
    class="menu-item"
    routerLink="/user/transactions"
    routerLinkActive="active-menu">

    <i class="bi bi-arrow-left-right"></i>
    <span>Transactions</span>

  </a>

  <a
    class="menu-item"
    routerLink="/user/settlements"
    routerLinkActive="active-menu">

    <i class="bi bi-bank"></i>
    <span>Settlements</span>

  </a>

  <a
    class="menu-item"
    routerLink="/user/chargeback"
    routerLinkActive="active-menu">

    <i class="bi bi-bank"></i>
    <span>Chargeback</span>

  </a>

  <a
    class="menu-item"
    routerLink="/user/reports"
    routerLinkActive="active-menu">

    <i class="bi bi-file-earmark-bar-graph"></i>
    <span>Reports</span>

  </a>

  <!-- Section -->

  <div class="menu-section">
    PAYMENT PRODUCTS
  </div>

  <div
    class="menu-item expandable"
    (click)="togglePaymentProducts()">

    <div class="menu-left">

      <i class="bi bi-box"></i>

      <span>
        Payment Products
      </span>

    </div>

    <i
      class="bi"
      [ngClass]="
        paymentProductsExpanded
          ? 'bi-chevron-up'
          : 'bi-chevron-down'
      ">
    </i>

  </div>

  @if (paymentProductsExpanded) {

    <div class="submenu">

      <a
        class="submenu-item"
        routerLink="/user/payment-products"
        routerLinkActive="active-menu">
        Manage Checkout
      </a>

      <a
        class="submenu-item"
        routerLink="/user/payment-products"
        routerLinkActive="active-menu">
        Payment Tools
      </a>

      <a
        class="submenu-item"
        routerLink="/user/payment-products"
        routerLinkActive="active-menu">
        Subscriptions
      </a>

    </div>

  }

  <a
    class="menu-item"
    routerLink="/user/explore-products"
    routerLinkActive="active-menu">

    <i class="bi bi-compass"></i>
    <span>Explore Products</span>

  </a>

  <a
    class="menu-item"
    routerLink="/user/settings"
    routerLinkActive="active-menu">

    <i class="bi bi-gear"></i>
    <span>Settings</span>

  </a>

  <a
    class="menu-item"
    routerLink="/user/developer"
    routerLinkActive="active-menu">

    <i class="bi bi-code-square"></i>
    <span>Developer</span>

  </a>

</div>